
body {
 margin: 0;
}


#map {
      height: 96vh;
  position: absolute;
    width: 1530px;
    left: 60%;
    transform: translateX(-50%);
    overflow: hidden;
}

.leaflet-container {
  background: #FFFFFF;
}

.leaflet-left {
  left: unset;
  right: 10px;
  display: block;
}

@media (max-width: 1800px) {
  .wrapper__center {
     max-width: 100%;
  }
}



/*@media (max-width: 1500px) {
  #map {
        height: 800px;
  }
}

*/

@media (max-width: 1440px) {
  .wrapper__left {
    width: 250px;
  }
  .other__wrapper .accordion__wrapper_item {
    width: 202px;
  }
}

@media (max-width: 1024px) {
  .other__wrapper .accordion__wrapper_item_link {
    padding-left: 10px;
  }
 /* #map {
    height: 600px;
  }
 */
}

@media (max-width: 724px) {
  .wrapper__left {
    z-index: 500;
  }
  .map-hamburger {
    left: 4%;
  }
  .active_map {
    width: 320px;
  }
  .active_map form {
    height: 77%;
  }
  .header__hamburger {
    left: 4%;
  }

@media (max-width: 375px) {
 .wrapper-center__map_accordion_close {
   right: 55px;
 }
}
}

.leaflet-popup-content {
 width: 340px !important;
}

.leaflet-popup-content p {
  font-size: 14px;
  font-weight: 500;
}

.leaflet-popup-content .district {
  font-weight: 600 !important;
    font-size: 17px;
 color: #414141 !important;
 text-align: center;
    box-shadow: 5px 4px 9px 3px rgb(104 104 104 / 76%);
    border-radius: 15px 0;
    padding: 5px 0;
}


.leaflet-popup-content .name {
  font-size: 14px;
   font-weight: 600;
}

.block {
  display: flex;
      align-items: center;justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #414141;
  padding-bottom: 5px;  

}

.leaflet-popup-content-wrapper {
  min-width: 340px;
}

.block div:first-child {
   min-width: 25%;
   font-size: 14px;
       font-weight: 600;
 
}

.district, .name, .address, .director, .oo, .phone, .url {
  font-size: 15px;
    font-weight: 500;
}

.menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
 /* background: #DEDEEF;*/
    padding: 0;;
  width: 380px;
  height: 93%;
  display: block;
      background: white;
}

ul {
  list-style: none;
    padding: 0;
}

/*.menu-block {
      display: flex;
    justify-content: center;
  overflow-y: scroll;
  max-height: 400px;
}*/

/*.menu-header {
  height: 64px;
  background-color: #2A324B;
      display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-header__title {
   font-family: 'Roboto', sans-serif;
      font-size: 20px;
    color: #ffffff;
    margin-left: 35px;
}

.menu-header__burger {
  cursor: pointer;
  margin-left: 25px;
}

.menu-header__burger-filter2 {
  cursor: pointer;
  margin-left: 25px;

}

.menu-header__burger-filter2 span {
  height: 4px;
    width: 35px;
    background: #ffffff;
    display: block;

}

.menu-header__burger span {
     height: 4px;
    width: 35px;
    background: #ffffff;
    display: block;
}

.middle {
    margin-top: 5px;
    margin-bottom: 5px;
}*/

.list-one {
 width: 340px;
     margin-left: 10px;
}

.list-two li {
      margin-top: 10px;
      margin-left: 25px;
}

.list-three {
  margin-top: 0px;
  margin-bottom: 15px;
     
}

.list-three li {
 margin-bottom: -5px;
}

.list-one span {
 background-color: #FFFFFF;
 transition: 0.4s;
	   
   color: #464646;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 280px;
    padding: 10px 5px 10px 10px;
   display: block;
       position: relative;
   
   /* border-radius: 15px;*/
  cursor: pointer;
  font-size: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 7px 4px 7px 1px rgb(104 104 104 / 77%);
}


.closed:before {
  content: '\02795';
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;

}

.open:after {
  content: "\2796";
    font-size: 13px;
    color: #ffffff;
    float: right;
    position: absolute;
    right: 5px;
        transition: 0.4s;
    background-color: #767B91;

}


.list-three li span {
      background: #FFFFFF;
 max-width: 265px;
    display: block;   
white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
      background-color: #767B91 !important;
    color: white !important;

}

.list-three li ul {
      margin-top: -3px;
}

.legend {
    
    display: none;

    position: absolute;
    width: 285px;
    background: #ffffff;
    bottom: 25%;
    right: 30px;
    padding: 15px 0;
    border-radius: 35px 0;
    box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 40%);
    z-index: 500;
}

.legend .container {
    margin: 0 auto;
    max-width: 900px;
}

.legend-title {
    text-align: center;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #243964;
}

.legend-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.legend-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-top: 6px;
    padding: 7px;
    border: 1px solid #dee0e1;
    border-radius: 15px 0;
    cursor: pointer;
}

.legend-block__name {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #243964;
}

.legend-block__color {
    height: 20px;
    width: 50px;
    background: red;
    border: 1px solid #dee0e1;
}



.open-menu {
 cursor: pointer;
    margin-left: 25px;
      position: absolute;
    top: 80px;
    z-index: 500;
}

.open-menu span {
  height: 4px;
    width: 35px;
    background: #414141;
    display: block;
}

.visible {
 display: none;
}

.header {
      height: 60px;
    display: flex;
    background: #ffffff;
   /* border-bottom: 1px solid black;*/
    justify-content: flex-start;
    align-items: center;
    box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 40%);
    z-index: 500;
    width: 100%;
    position: absolute;
}

.header-wrapper {
       display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px 0 0;
   /* margin-left: 60px;*/
}

.header-wrapper__title {
   font-family: 'Roboto', sans-serif;
    font-size: 26px;
   font-weight: 400;
       color: #52586b;
}

.header-wrapper__login {
    position: relative;
    color: #fff;
    text-decoration: none;
   /* text-transform: uppercase;*/
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
   /* border: 1px solid rgba(124, 99, 99, 0.5);*/
  /* box-shadow: 4px 6px 15px 1px rgb(104 104 104  76%);*/
       border: 2px solid #808080;
}

.header-wrapper__login-arrow {
  position: absolute;
    left: -20px;
    background: white;
    width: 40px;
    height: 18px;
    transition: all ease 0.5s;
}

.header-wrapper__login-arrow path {
   fill: #808080;

}

.header-wrapper__logout {
    position: relative;
    color: #fff;
    text-decoration: none;
   /* text-transform: uppercase;*/
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
   /* border: 1px solid rgba(124, 99, 99, 0.5);*/
   box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 76%);
}

.header-wrapper__logout span {
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color: #414141;
    font-size: 15px;
    color: #52586b;
}

.header-wrapper__logout:hover {
    letter-spacing: 0.25em;
   /* background: var(--clr);*/
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.header-wrapper__logout:before {
    content: '';
    position: absolute;
   /* inset: 2px;*/
    background: #ffffff;
}

.header-wrapper__login:hover {
   /* background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr); */
    color: #e4097f;
    border-color: #f6464c;
}

.header-wrapper__login:hover span {
  color: #f6464c;
}

.header-wrapper__login:hover .header-wrapper__login-arrow {
 left: -8px;
     transition: 0.3s all;
}

.header-wrapper__login:hover .header-wrapper__login-arrow path {
  fill: #f6464c;
}

.header-wrapper__login:before {
    content: '';
    position: absolute;
   /* inset: 2px;*/
    background: #ffffff;
}

.header-wrapper__login span {
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    color: #414141;
    font-size: 15px;
    color: #52586b;
}

.header-wrapper__login i {
    position: absolute;
    inset: 0;
    display: block;
}

.header-wrapper__login i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.header-wrapper__login:hover i::before {
    width: 20px;
    left: 20%;
}

.header-wrapper__login i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transition: 0.5s;
}

.header-wrapper__login:hover i::after {
    width: 20px;
    left: 73%;
}

.header-wrapper__login:hover {
  /* background: #0e448e;*/
   transition: 0.4s;

}

.footer {
   /* border-top: 1px solid black;*/
    /*  padding: 0 30px; */
      display: flex;
    justify-content: space-between;
        position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 76%);
   z-index: 50000;
    background: white;
}

.footer-wrapper-logo {
       width: 60%;
        display: flex;
    justify-content: flex-start;
    align-items: center
}

.footer-wrapper-contacts {
  width: 36%;
  display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper-logo__top {
  text-align: center;
}

/*.footer-wrapper-contacts__title {
  font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
   margin-bottom: 5px;
  margin-right: 10px;
      color: #52586b;
} */

/*.footer-wrapper-logo__title {
   font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

.footer-wrapper-logo__low {
   display: flex;
    justify-content: space-between;
    align-items: center;  
   padding: 0 100px;
      justify-content: space-around;
   width: 65%;
opacity: 0.5;

}

.footer-wrapper-contacts__low_block {
  display: flex;
    justify-content: space-between;
    align-items: center;
  margin-right: 40px;
}

.footer-wrapper-logo__low_block {
    width: 120px;
    height: 40px;
    border-radius: 25px 0;
   /* border: 1px solid #dee0e1;
    box-shadow: 5px 1px 6px 1px rgb(104 104 104  40%); */
        display: flex;
    justify-content: center;
    align-items: center;    

}

.footer-wrapper-logo__low_block_img {
   height: 55%;
    display: block;
}

form {

    
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 340px;
    background: #ffffff;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 4px 6px 15px 1px rgb(104 104 104 / 40%);
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.form-close {
    position: absolute;
    top: -5px;
    right: 17px;
    font-size: 50px;
    cursor: pointer;
}

.form-box {

    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    width: 250px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form-box__text {

    padding: 10px;
    border: 1px solid rgba(124, 99, 99, 0.5);
    background: #ffffff;
    border-radius: 15px 0;
    outline: none;
    color: #464646;
    font-size: 1em;
    transition: 0.5s;

width: 100%;
}

.form-box__info {

    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
        line-height: 24px;

}

.form-box input:valid ~ span,
.form-box input:focus ~ span {

    color: #00dfc4;
    transform: translateX(20px) translateY(-7px);
    font-size: 0.65em;
    padding:2px 10px;
    background: #ffffff;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
    line-height: 14px;

}

.form-box:nth-child(2) ~ span,
.form-box:nth-child(2) ~ span {
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}

.form-box input:valid,
.form-box input:focus {
    border: 1px solid #00dfc4;
}

.form-login {
    position: relative;
    background: #ffffff;
    color: #000;
   /* text-transform: uppercase;*/
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
   /* border: 1px solid rgba(124, 99, 99, 0.5);*/
   margin-top: 60px;
   border: 2px solid #808080;
    box-sizing: border-box;
    
   /* box-shadow: 4px 6px 15px 1px rgb(104 104 104  76%);*/

}

.form-login:hover {
   /* background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr); */
    border-color: #f6464c;
}

.form-login:hover span {
   color: #f6464c;
}

.form-login:hover .header-wrapper__login-arrow {
   left: -9px;
}

.form-login:hover .header-wrapper__login-arrow path {
   fill: #f6464c;
}


.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(214,214,214, 0.7);
    z-index: 2000;
    display: none;
}

.overlayOn {
    display: block;
}

.footer-wrapper-contacts__low {
display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper-contacts__low_block_name {
   font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
   color: #52586b;
}

.footer-wrapper-contacts__low_block_phone {
  text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #52586b;
}

.footer-wrapper-contacts__low_block_name {
   font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
   color: #52586b;

}

.legend-block:hover .legend-block__name {
   color: #ffffff;
}

.header-logo {
   display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo__img {
  width: 40%;
}

.filter2 {
  background-color: #4a9bc7;
}

.filter3 {
  background-color: #27c7b7;
}

.filter4 {
  background-color: #dc4785;
}

.filter5 {
  background-color: #f7394b;
}
.filter6 {
  background-color: #f7895b;
}

.header-wrapper__right {
     width: 500px;
  display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-wrapper__login-img {
      width: 6%;
    margin-right: 30px;
}

.custom-size {
 height: 65%;
}

.menu-header__text {
	display: none;
}

.activeFilter {
  display: block;
}


* {
  box-sizing: border-box;
}

details {
  user-select: none;
}

details[open] summary svg {
  transform: rotate(90deg);
}

summary {
  cursor: pointer;
}

.menu-filter__title svg {
  transition: all 0.3s;
}

summary::-webkit-details-marker {
  display: none;
}

:focus {
  outline: none;
}

/*.menu {
  width: 380px;
}*/
.menu-filter {
  width: 380px;
  border-bottom: 1px solid #dae1e7;
}
/*.menu-filter:nth-child(1) {
  background-color: #2A324B;
}
.menu-filter:nth-child(1) .menu-filter__content {
  background-color: #e0f8ff;
}
.menu-filter:nth-child(2) {
  background-color: #4a9bc7;
}
.menu-filter:nth-child(2) .menu-filter__content {
  background-color: #dff7ff;
}
.menu-filter:nth-child(3) {
  background-color: #27c7b7;
}
.menu-filter:nth-child(3) .menu-filter__content {
  background-color: #e7fffd;
}
.menu-filter:nth-child(4) {
  background-color: #dc4785;
}
.menu-filter:nth-child(4) .menu-filter__content {
  background-color: #ffddf0;
}
.menu-filter:nth-child(5) {
  background-color: #f7394b;
}
.menu-filter:nth-child(5) .menu-filter__content {
  background-color: #ffe2e6;
}*/
.menu-filter__title {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #52586b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.menu-filter__title-icon {
  width: 25px;
  height: 25px;
  fill: #404040;
}
.menu-filter__content {
  width: 380px;
  max-height: 400px;
  padding: 5px 0 0 13px;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #52586b;
}
.menu-filter__content-wrapper {
  padding: 7px;
}
.menu-search {
  height: 65px;
  display: flex;
      justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
      position: relative;
 background: white;
     padding-right: 10px;
}
.menu-search input {
  height: 40px;
  width: 350px;
  border: none;
  padding-left: 10px;
  font-size: 15px;
  background: #f4f4f5;
}


.menu-search__wrapper {
      position: absolute;
    top: 55px;
    left: 0px;
    background: white;
    overflow-y: scroll;
    max-height: 85vh;
        padding-left: 10px;
    z-index: 5000;
}

/*.menu-search__wrapper div {
     border-bottom: 1px solid rgba(82, 88, 107, 0.4);
         margin-top: 10px;
}*/

.menu-search__wrapper div p {
   font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #52586b;
   margin-top: 5px;
    margin-bottom: 5px;
}

#filter .highlight {
  background: red;
}

.menu-search__icon {
   height: 20px;
    width: 20px;
    position: absolute;
   left: 8%;
}

.menu-search__icon svg {
  fill: #52586b;
}

.menu-search input:focus {
 background: #ffffff;
 border: 2px solid #3390ec;
}

.menu-search .menu-search__icon:focus {
 left: 15%;
}

.modal-search {
  position: absolute;
    height: 100vh;
    width: 380px;
    background: #ffffff;
    z-index: 1000;
    top: 113px;
display: none;
}

.modal-search__back {
 display: block;
 position: absolute;
    left: 10px;
 height: 20px;
 top: -30px;
}

.modal-search__back-arrow {
    background: white;
    width: 40px;
    height: 18px;
    transition: all ease 0.5s;
        transform: rotateY(180deg);
    cursor: pointer;
}

.modal-search__back-arrow path {
  fill: #808080;
}

.show {
  display: block;
}

.menu-search__wrapper-item {
   border-bottom: 1px solid rgba(82, 88, 107, 0.4);
         margin-top: 10px;

}

/*# sourceMappingURL=style.css.map */
