<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', path='js/jquery.min.js') }}"></script>
    <script
	src="{{ url_for('static', path='js/login.js') }}">
    </script>
    {% block head -%}
    
    {% endblock %}

	{% block title -%}
	{% if title %}
		<title> {{ title }}</title>
	{% else %}
		<title> Сайт </title>
	{% endif %}
	{% endblock %}
<head>
<body>
<div class="wrapper">
	<header class="header">
	   <div class="header-logo">
	      <img class="header-wrapper__login-img" src="{{ url_for('static', path='images/obraz.png') }}" alt="">
	      <img class="header-wrapper__login-img-middle" src="{{ url_for('static', path='images/10iniciativ.png') }}" alt="">
	      <img class="header-logo__img" src="{{ url_for('static', path='images/logo.png') }}" alt="">	
	   </div>
	 <!--  <img class="header-wrapper__login-img" src="{{ url_for('static', path='images/10iniciativ.png') }}" alt=""> -->
	   <div class="header-wrapper">
	      <h1 class="header-wrapper__title">Интерактивная карта системы образования Алтайского края</h1>
	      <div class="header-wrapper__right">
		     <!-- <img class="header-wrapper__login-img" src="{{ url_for('static', path='images/10iniciativ.png') }}" alt=""> -->
              {% if user%}
                <p>{{ user.name }}</p>
			  	<a class="header-wrapper__logout" style="--clr:#0e448e" href="{{ url_for('logout') }}"><span>Выход</span></a>
			  {% else %}
			  	<a class="header-wrapper__login" href="#"><span>вход</span>
					<svg class="header-wrapper__login-arrow" width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M11.8462 0C11.8462 0 18.6154 6.4 22 8C18.6154 9.6 11.8462 16 11.8462 16L16.5726 8.8006H0V7.2006H16.5726L11.8462 0Z" fill="#240516"></path>
					</svg>
				</a>
              {% endif %}

	      </div>
	   </div>

	</header>
	<main class="main">
	   {% block content -%}
	
	   {% endblock -%}
	</main>

	<footer class="footer">
	   <div class="yandex">
	   	<ymaps class="ymaps-2-1-79-copyright__wrap"><ymaps class="ymaps-2-1-79-copyright__layout"><ymaps class="ymaps-2-1-79-copyright__content-cell">
		<ymaps class="ymaps-2-1-79-copyright__content"><ymaps class="ymaps-2-1-79-copyright__text">© Яндекс</ymaps>
		<ymaps class="ymaps-2-1-79-copyright__agreement">&nbsp;
		<a class="ymaps-2-1-79-copyright__link" target="_blank" href="https://yandex.ru/legal/maps_termsofuse/?lang=ru" rel="noopener">Условия использования</a></ymaps></ymaps>
		</ymaps><ymaps class="ymaps-2-1-79-copyright__logo-cell"><a class="ymaps-2-1-79-copyright__logo" href="https://yandex.ru/maps/?origin=jsapi21&amp;ll=82.466781,52.726338&amp;z=8&amp;l=map&amp;from=api-maps" target="_blank"></a></ymaps>
		</ymaps></ymaps>
	   </div>

	   <div class="footer-wrapper-contacts">
	      <div class="footer-wrapper-contacts__low">
                 <div class="footer-wrapper-contacts__low_block">
		    <div class="footer-wrapper-contacts__low_block_name">Телефон:</div>
		    <a class="footer-wrapper-contacts__low_block_phone" href="tel:83852206407"> 8 385 220 6407</a>
                 </div>
                 <div class="footer-wrapper-contacts__low_block">
		     <div class="footer-wrapper-contacts__low_block_name">Почта:</div>
                     <a class="footer-wrapper-contacts__low_block_phone" href="mailto:nkg@cto22.ru">nkg@cto22.ru</a>
                 </div>
              </div>
	   </div>

	   <div class="footer-wrapper-logo">
              <div class="footer-wrapper-logo__top">
<!--             <h3 class="footer-wrapper-logo__title">Другие наши сервисы:</h3> -->
              </div>
              <div class="footer-wrapper-logo__low">
                 <a href="https://audit.22edu.ru/" target="_blank"  class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/audit1.png') }}" alt="" >
                 </a>
                 <a href="http://ege.edu22.info/" target="_blank"  class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img custom-size" src="{{ url_for('static', path='images/gia.png') }}" alt="" >
                 </a>
                 <a href="https://vpr22.22edu.ru/" target="_blank" class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img custom-size" src="{{ url_for('static', path='images/vpr22.jpg') }}" alt="" >
                 </a>
                 <a href="https://rop.22edu.ru/" target="_blank" class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/rop1.png') }}" alt="" >
                 </a>

              </div>
           </div>
	  
	</footer>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(89322310, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/89322310" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
