{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
	/>

  	<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin="">
	</script>

	<link
			rel="stylesheet"
			href="{{ url_for('static', path='css/map.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.Default.css') }}"
	/>
	<script
			src="{{ url_for('static', path='js/leaflet.markercluster.js') }}">

	</script>
	<link
			rel="stylesheet"
			href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
	/>

	<script
			src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js">
	</script>

	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

	<script
			src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js">
	</script>

{% endblock %}

{% block content -%}
	{{ super() }}
	<div class="menu">
        <div class="menu-header">
            <div class="menu-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-header__title">
                Образовательные учреждения
            </div>
            <div class="menu-block">

                <ul class="tree" id="tree">
                    <li>Выберите округ
                        <ul>
                            <li>1 округ
                                <ul>
                                    <li>школа</li>
                                    <li>какая то школа</li>
                                    <li>еще школа</li>
                                </ul>
                            </li>
                            <li>2 округ
                                <ul>
                                    <li>опять школа</li>
                                    <li>мбоу сош</li>
                                    <li>тест</li>
                                </ul>
                            </li>
                            <li>3 округ
                                <ul>
                                    <li>школа</li>
                                    <li>школьники</li>
                                    <li>еще школа</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>


	<div>
	   <div id="map">

	   </div>
	</div>
	<script
			src="{{ url_for('static', path='js/map.js') }}" >
	</script>

	<script
			src="{{ url_for('static', path='js/script.js') }}">
	</script>
{% endblock -%}
