{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
	/>

  	<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin="">
	</script>

	<link
			rel="stylesheet"
			href="{{ url_for('static', path='css/map.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.Default.css') }}"
	/>
	<script
			src="{{ url_for('static', path='js/leaflet.markercluster.js') }}">

	</script>
	<link
			rel="stylesheet"
			href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
	/>

	<script
			src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js">
	</script>

	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

	<script
			src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js">
	</script>

	<script
			src="https://cdn.rawgit.com/aparshin/leaflet-boundary-canvas/f00b4d35/src/BoundaryCanvas.js">
	</script>

{% endblock %}

{% block content -%}
	{{ super() }}
    <div class="menu" id="filter">
       <div class="menu-search">
            <input class="menu-search__field"  type="search" placeholder="Поиск" oninput="search(this.value)">
                        <div class='menu-search__wrapper' id="search_result">

                        </div>
        </div>

        <details class="menu-filter">
            <summary class="menu-filter__title">Образовательные учреждения
				<svg class="menu-filter__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
				</svg>
            </summary>
            <div class="menu-filter__content">
                <ul class="list-one" id="tree">
                    
                </ul>
            </div>
        </details>
		<details class="menu-filter">
            <summary class="menu-filter__title" onclick = "create_digital_markers(this.parentNode)">Цифровая среда
				<svg class="menu-filter__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
				</svg>
            </summary>
            <div class="menu-filter__content">
				<div class="menu-filter__content-wrapper">
					Федеральный проект «Цифровая образовательная среда» направлен на создание и внедрение в образовательных организациях цифровой образовательной среды, а также обеспечение реализации цифровой трансформации системы образования.<br>
					- 209 КОМПЬЮТЕРНЫХ КЛАССОВ</br>
					- 1194 УЧЕБНЫХ КЛАССОВ SMART TV ДЛЯ РАБОТЫ С ЦИФРОВЫМ ОБРАЗОВАТЕЛЬНЫМ КОНТЕНТОМ</br>
					- 87 УЧЕБНЫХ КЛАССОВ ДЛЯ РАБОТЫ С ЦИФРОВЫМ ОБРАЗОВАТЕЛЬНЫМ КОНТЕНТОМ НА БАЗЕ ИНТЕРАКТИВНОГО КОМПЛЕКСА</br>
					- 169 КОМПЛЕКТОВ ОБОРУДОВАНИЯ УПРАВЛЕНИЯ СРЕДСТВАМИ ОБЕСПЕЧЕНИЯ ДИСТАНЦИОННОГО ОБУЧЕНИЯ И ВИДЕОНАБЛЮДЕНИЯ
				</div>
            </div>
        </details>
		<details class="menu-filter">
            <summary class="menu-filter__title">Результаты ЕГЭ
				<svg class="menu-filter__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
				</svg>
            </summary>
            <div class="menu-filter__content">
                тестовая инфа
            </div>
        </details>
		<details class="menu-filter">
            <summary class="menu-filter__title">Результаты ВПР
				<svg class="menu-filter__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
				</svg>
            </summary>
            <div class="menu-filter__content">
                тестовая инфа
            </div>
        </details>
		<details class="menu-filter">
            <summary class="menu-filter__title">Центры "Точка роста"
				<svg class="menu-filter__title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
					<path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
				</svg>
            </summary>
            <div class="menu-filter__content">
                Центр образования цифрового и гуманитарного профилей «Точка роста» - это подразделение общеобразовательной организации, расположенное в сельской местности и поселках городского типа. В нем располагаются медиазона, шахматная гостиная и коворкинг, а также кабинет формирования цифровых и гуманитарных компетенций.
            </div>
        </details>
<!--	<div class="menu-search">
            <input type="text" placeholder="Поиск" oninput="search(this.value)">
			<div class='menu-search__wrapper' id="search_result">

			</div>
        </div> -->
    </div>
    <div class="modal-search">
      <div class="modal-search__back">
           <svg class="modal-search__back-arrow" width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8462 0C11.8462 0 18.6154 6.4 22 8C18.6154 9.6 11.8462 16 11.8462 16L16.5726 8.8006H0V7.2006H16.5726L11.8462 0Z" fill="#240516"></path>
           </svg>
       </div>

    </div>

	<div>
	   <div id="map">

	   </div>
	</div>
	
	<div class="overlay">
	   <form method="POST" name="login_form" id="login_form">
              <div class="form-close">&times;</div>
              <div class="form-box">
                  <input type="text" class="form-box__text" required="required" id="login" name="login" >
                  <span class="form-box__info">Логин</span>
              </div>
              <div class="form-box">
                  <input class="form-box__text" required="required" id="password" name="password" type="password">
                  <span class="form-box__info">Пароль</span>
              </div>
	      <div class="form-wrapper">
              <button type="button" class="form-login" onclick="submit_form()"><span>войти</span> 
		  <svg class="header-wrapper__login-arrow" width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8462 0C11.8462 0 18.6154 6.4 22 8C18.6154 9.6 11.8462 16 11.8462 16L16.5726 8.8006H0V7.2006H16.5726L11.8462 0Z" fill="#240516"></path>
                  </svg>
	      </button>
	      </div>
           </form>
	</div>

	<script
			src="{{ url_for('static', path='js/map.js') }}" >
	</script>

        <script
			src="{{ url_for('static', path='js/script.js') }}">
	</script>
{% endblock -%}
