{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
	/>

  	<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin="">
	</script>

	<link
			rel="stylesheet"
			href="{{ url_for('static', path='css/map.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.css') }}"
	/>

    <link
			rel="stylesheet"
			href="{{ url_for('static', path='css/MarkerCluster.Default.css') }}"
	/>
	<script
			src="{{ url_for('static', path='js/leaflet.markercluster.js') }}">

	</script>
	<link
			rel="stylesheet"
			href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
	/>

	<script
			src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js">
	</script>

	<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

	<script
			src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js">
	</script>

	<script
			src="https://cdn.rawgit.com/aparshin/leaflet-boundary-canvas/f00b4d35/src/BoundaryCanvas.js">
	</script>

{% endblock %}

{% block content -%}
	{{ super() }}

	<header class="header">
	   <div class="header-logo">
	      <img class="header-logo__img" src="{{ url_for('static', path='images/logo.png') }}" alt="">	
	   </div>
	   <div class="header-wrapper">
	      <h1 class="header-wrapper__title">Интерактивная карта системы образования Алтайского края</h1>
	      <a class="header-wrapper__login" style="--clr:#0e448e" href="#"><span>вход</span></a>
	   </div>

	</header>
	<div class="menu">
        <div class="menu-search">
            <input type="text" placeholder="Поиск">
        </div>
    <div class="menu-header">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
         Образовательные учреждения
        </div>
    </div>
    <div class="menu-block">
         <ul class="list-one" id="tree">
         </ul>
    </div>
    <div class="menu-header filter2">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
        Цифровая среда
        </div>
    </div>
    <div class="menu-header filter3">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
        Результаты ЕГЭ
        </div>
    </div>
    <div class="menu-header filter4">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
            Результаты ВПР
        </div>
    </div>
    <div class="menu-header filter5">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
            Центры "Точка роста"
        </div>
    </div>
    <div class="menu-header filter6">
        <div class="menu-header__burger">
            <span></span>
            <span class="middle"></span>
            <span></span>
        </div>
        <div class="menu-header__title">
            Будущий фильтр
        </div>
    </div>
</div>


	<div>
	   <div id="map">

	   </div>
	   <div class="open-menu" id="open-menu">
			<span></span>
			<span class="middle"></span>
			<span></span>
	   </div>

	   <div class="legend" id="legend">

		</div>

	</div>
	
	<footer class="footer">
	   <div class="footer-wrapper-logo">
              <div class="footer-wrapper-logo__top">
<!--	         <h3 class="footer-wrapper-logo__title">Другие наши сервисы:</h3> -->
              </div>
	      <div class="footer-wrapper-logo__low">
	         <div class="footer-wrapper-logo__low_block">
		    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/vpr22.png') }}" alt="" >
		 </div>
		 <div class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/gia.png') }}" alt="" >
                 </div>
		 <div class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/vpr22.png') }}" alt="" >
                 </div>
		 <div class="footer-wrapper-logo__low_block">
                    <img class="footer-wrapper-logo__low_block_img" src="{{ url_for('static', path='images/aic.png') }}" alt="" >
                 </div>

	      </div>
	   </div>

	   <div class="footer-wrapper-contacts">
	      <div class="footer-wrapper-contacts__low">
                 <div class="footer-wrapper-contacts__low_block">
		    <div class="footer-wrapper-contacts__low_block_name">Телефон:</div>
		    <a class="footer-wrapper-contacts__low_block_phone" href="tel:88887776655"> 8 888 777 66 55</a>
                 </div>
                 <div class="footer-wrapper-contacts__low_block">
		     <div class="footer-wrapper-contacts__low_block_name">Почта:</div>
                     <a class="footer-wrapper-contacts__low_block_phone" href="mailto:testmail@mail.ru">testmail@mail.ru</a>
                 </div>
              </div>
	   </div>
	  
	</footer>
	<div class="overlay">
	   <form action="">
              <div class="form-close">&times;</div>
              <div class="form-box">
                  <input type="text" class="form-box__text" required="required">
                  <label for="" class="form-box__info">Логин</label>
              </div>
              <div class="form-box">
                  <input type="text" class="form-box__text" required="required">
                  <label for="" class="form-box__info">Пароль</label>
              </div>
	      <div class="form-wrapper">
                  <input class="form-login" style="--clr:#0e448e" type="submit" value="войти">
	      </div>
    	   </form>
	</div>

	<script
			src="{{ url_for('static', path='js/map.js') }}" >
	</script>

        <script
			src="{{ url_for('static', path='js/script.js') }}">
	</script>
{% endblock -%}
